<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
	<title>{% block title %} {% endblock %}</title>
</head>
<body>
	{% block content %}	
	{% endblock %}


	<footer>
		<div class="container">
			<div class="row">
				<p class="copyright text-muted">&copy; Curso Flask 2016</p>
			</div>
		</div>
	</footer>

	<img src="{{url_for('static',filename='img/test.jpg')}}">

	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>